<form action="/celebrities/{{oneCeleb._id}}" method="post">

  <label for="">Name</label>
  <input type="text" name="name" value="{{oneCeleb.name}}">

  <label for="">Occupation</label>
  <input type="text" name="occupation" value="{{oneCeleb.occupation}}">

  <label for="">Catch Phrase</label>
  <input type="text" name="catchPhrase" value="{{oneCeleb.catchPhrase}}">

  <button> UPDATE </button>
</form>